<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDWv2aoRF0GAoyi10v60suAO9BcoiFLfoQ</string>
	<key>GCM_SENDER_ID</key>
	<string>48544706607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saat.sycapp</string>
	<key>PROJECT_ID</key>
	<string>saat-youth-camp-9e3bb</string>
	<key>STORAGE_BUCKET</key>
	<string>saat-youth-camp-9e3bb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:48544706607:ios:463e75a5e1581537f0d6da</string>
</dict>
</plist>